@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Doctor';
    src: url('fontes/Doctor Glitch.otf') format('opentype'), url('fontes/Doctor Glitch.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: rgb(80, 80, 80);
    background-image: url("imagens/background.jpeg");
    background-position: center center;
    background-size: cover;
}    
header {
    text-align: center;
}
h1 {
    color: #0c0c0c;
    font-family: 'Doctor', 'Times New Roman', Times, serif;
    font-size: 60PX;
}
nav {
    text-align: center;
    margin-bottom: 20px;
}
nav > a {
    color: black;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    padding: 5px;
    margin: 0 10px 0 10px;
    text-decoration: none;
    transition-duration: 0.5s;
}
nav > a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
main {
    min-width: 300px;
    max-width: 800px;
    margin: auto;
}
main > h2 {
    font-family: 'Source Code Pro', monospace;
    font-weight: normal;
    text-align: center;
    font-size: 40PX;
    margin-bottom: 10PX;
}
main > p {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    text-align: center;
    margin: 0 0 40px 0;
}
main a {
    color: rgb(99, 18, 18);
    text-decoration: none;
    transition-duration: 0.5s;
}
main a:hover {
    text-decoration: underline;
} 
.container {
    display: flex;
}
div {
    margin: 20px 0 20px 0;
}
div > img {
    max-width: 250px;
    margin-left: 6px;
    margin-right: 6px;
}
.container {
    width: auto;
    display: flex;
}
.container > img {
    margin-left: 10px;
    max-width: 350px;
    max-height: 350px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
}
.container > ul {
    margin: auto;
    list-style-type: none;
}
li.titulo {
    font-family: 'Source Code Pro', monospace;
    font-weight: normal;
    color: #151414;
    font-size: 60px;
    margin-left: 20px;
    margin-bottom: 15px;
}
li.musica {
    font-family: 'Source Code Pro', monospace;
    font-weight: lighter;
    color: black;
    font-size: 25px;
    margin-left: 20px;
}
li.credito {
    font-family: 'Source Code Pro', monospace;
    margin-left: 20px;
}
li.creditoup {
    font-family: 'Source Code Pro', monospace;
    margin-left: 20px;
    margin-top: 25px;
}
button{
    width: 350px;
    height: 40px;
    border-style: hidden;
    margin-left: 10px;
    margin-bottom: 70px;
    background-color: transparent;
}
.btn-link a {
    font-family: 'Source Code Pro', monospace;
    color: black;
    font-size: 20px;
    padding: 10px 64px 10px 64px;
    border: 3px solid black;
    text-decoration: none;
    transition-duration: 0.5s;
}
button > a:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
iframe {
    width: 302px;
    height: 170px;
    position: relative;
    padding: 10px 0 10px 70px;
    border: hidden;
}
iframe.home {
    width: 560px;
    height: 315px;
    position: relative;
    padding: 10px 0 10px 125px;
    border: hidden;
}
footer {
    color: black;
    text-align: center;
    padding: 30px;
}
footer a > img {
    max-width: 40px;
    margin: 0 10px 0 10px;
}
