@charset "UTF-8";

@font-face {
    font-family: 'Distorcida';
    src: url('/fontes/Doctor Glitch.otf');
}
body {
    background-color: rgb(80, 80, 80);
    background-image: url("imagens/background.jpeg");
}
header {
    text-align: center;
}
header > h1 {
    color: black;
    font-family: 'Distorcida', sans-serif;
    font-size: 4em;
}
nav {
    text-align: center;
    margin-bottom: 50px;
}
nav > a {
    color: black;
    font-size: 1.5em;
    padding: 5px;
    text-decoration: none;
    transition-duration: 0.5s;
}
nav > a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}
main > h2 {
    font-size: 2em;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
}
.container {
    display: flex;
}
div {
    margin-bottom: 100px;
}
li {
    list-style-type: none;
}
.titulo {
    color: black;
    font-size: 3em;
    margin: 0 0 20px 100px;
}
.musica {
    color: black;
    font-size: 1.5em;
    margin: 0 0 20px 100px;
}
.credito {
    margin-left: 100px;
}
main img {
    width: 400px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
}

div.video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
footer {
    text-align: center;
    padding: 30px;
}